.btn{background-color:cadetblue;
    color:white;cursor: pointer;transition:all .5s ease;}
    .btn:hover{background: white;color:cadetblue;border: 1px solid cadetblue;}
    @media (max-width: 767px ){/* mobile & tablet*/

    }
    @media (min-width: 768px) and (max-width:991px){ /* small screen */
      
      
      
    }
    @media (min-width: 992px) and (max-width:1199px) { /* medium screen */
      
      
    }