<div class="container m-2">
    <div class="row justify-content-center m-2">
      <h3 style="font-family: 'Anton', sans-serif" class="text-center mt-3 mb-3">{{'General Information' | translate}}</h3>
    </div>
    <div class="dashboard" class="mt-2 mb-2">
      <!-- <mat-toolbar-row> -->
        <div class="card p-3">
        <span>{{'Total Orders' | translate}}</span>
        <span class="example-spacer"></span>
        <p class="example-icon lead">{{availableData.totalOrders}}
        </p>
      </div>
      <!-- </mat-toolbar-row> -->
  
      <!-- <mat-toolbar-row> -->
      <div class="card p-3">
        <span>{{'Total Payments' | translate}}</span>
        <span class="example-spacer"></span>
        <p class="example-icon lead">{{availableData.totalPayments}}
        </p>
      <!-- </mat-toolbar-row> -->
      </div>
    </div>
  </div>